     body{
    background-color: #ede7f6;
    }
  

    form{ 
        height: 1000px;
        width: 600px;
        margin:auto;
    }
    h1{
        height: 100px;
        width: 600px;
        background-color:#FDFEFE;
        border-radius: 10px;
        border-top: 8px solid blue;
        padding: 25px;
        margin-right: auto;
        margin-left: auto;

}
.First, .Second, .number, .Email, .Date{
    height: 60px;
    width: 600px;
    margin: 15px;
    background-color: #FDFEFE;
    border-radius: 8px;


}
.First, .Second, .number, .Email, .Date{
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-size: 15px;
    border-top: 6px;
}


.Submit{
    height: 30px;
    width: 80px;
    background-color:red;
    border-radius: 5px;
    color: white;

    
    


}





